<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                    {{alert.message}}
                </uib-alert>
                <form name="blogForm" novalidate data-ng-submit="blogForm.$valid && addBlog()">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Blog Name
                        </label>
                        <div class="col-md-8"
                             data-ng-class="{'has-error': blogForm.name.$touched && blogForm.name.$error.required}">
                            <input class="form-control" type="text" name="name" ng-model="newBlog.name" required>
                           <span class="help-block">
                               Blog name is required
                           </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button class="btn btn-primary" type="reset">Clear</button>
                            <button class="btn btn-success" type="submit">Add Blog</button>
                        </div>
                    </div>

                </form>
            </div>
            <hr/>
        </div>
        <div class="row">
            <div data-ng-repeat="blog in blogs">
                <div class="list-group">
                    <a  data-ui-sref="posts({blogId: blog._id})" class="col-md-4 list-group-item"
                       data-ng-bind="blog.name">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>