<div class="row">
    <h4>Posts</h4>
    <hr/>
    <div data-ng-if="authenticatedUser">
        <a class="btn btn-primary"
           data-ui-sref="edit post({blogId: blogId, postId: 'new'})">
            Add Post
        </a>
        <hr/>
    </div>

    <div class="list-group">
        <div data-ng-repeat="post in posts">
            <a data-ui-sref="view post({blogId: blogId, postId: post._id})" class="list-group-item col-md-4">
                <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
                <p class="list-group-item-text">
                    Posted At : {{post.postedAt | date}}
                </p>
            </a>

        </div>
    </div>
</div>